.container {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}
.zip-search{
  font-weight: bold;
  text-align: center;
  padding: 1rem 2rem 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  width: 40%;
  min-width: 9rem;
  border: solid 1px rgba(0,0,0, 0.05);
  background-color: #feb2c3;
  color: #808080;
}
